.thumb 
.syntax unified 
.arch armv6-m
.cpu cortex-m0plus 

.text 

{% for name in names %}

.global {{ name }}_yasld_wrapper
.thumb_func
.extern {{ name }}_yasld_wrapper
.align 4
.type {{ name }}_yasld_wrapper, %function 
{{ name }}_yasld_wrapper:
  // store manipulated registers  
  push {r0, r1}
 
  // prepare arguments for store service call 
  // stored arguments are link register, r4 and r5 later used 
  mov r0, pc 
  push {r0, r4, r5, lr} 
  mov r1, sp
  movs r0, #0xa
  svc #0

  sub sp, sp, #8
  // r0 is target r9 value
  pop {r0}
  mov r9, r0

  // calculate relocation
  adr r4, {{ name }}_original_symbol 
  mov r5, r9
  ldr r4, [r5, r4]
 
  // restore original stack 
  pop {r0, r1}

  // execute call 
  blx r4
 
  // prepare arguments for restore service call
  mov r2, r0
  mov r3, r1

  mov r0, pc 
  push {r0, r1}
  add sp, sp, #8
  mov r1, sp 
  movs r0, #0xb
  svc #0
  // restored arguments on stack lr, r9, r4, r5
  
  pop {r0, r1, r4, r5} 
  
  mov r9, r1 
  mov r1, r3 
  mov r3, r0 
  mov r0, r2
  mov pc, r3

{{ name }}_original_symbol:
  .word {{ name }}(GOT) 
{% endfor %}
