.thumb 
.syntax unified 
.arch armv6-m
.cpu cortex-m0plus

{% for name in names %}

.global {{ name }} 
.thumb_func
.extern {{ name }}
.type {{ name }}, %function 
{{ name }}:
  push {r0, r1}
  mov r0, pc 
  mov r1, lr
  push {r0, r1} 
  mov r1, sp
  movs r0, #0xa
  svc #0
  pop {r0, r1}
  pop {r0, r1}

  blx __{{ name }}_yasld_original
  push {r0, r1}
  mov r0, pc 
  push {r0, r1} 
  mov r1, sp 
  movs r0, #0xb
  svc #0
  pop {r0, r1}
  mov ip, r0
  pop {r0, r1}
  mov pc, ip 

{% endfor %}
